<html lang="ja">
  <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  </head>
  <body>
  
  <h1>したつもり貯金</h1>
  <% if user_signed_in? %>
  <p>今回：<%= @total_before %>円</p>
  <p>合計貯金額：<%= @total_after %>円</p>
  <% else %>
  <p>今回：<%= @total_before %>円</p>
  <p>ログインして合計貯金額をチェックしよう</p>
  <% end %>

  <% if @total_before != 0 %>
  <%# 貯金額が0の場合はツイートボタンは非表示にする %>
  <div class="twitter">
    <a href="http://twitter.com/share?url=<%= @tweet_url %>&amp;text=<%= @tweet_text %><%= @tweet_hashtags %>"
       class="twitter-share-button" data-lang="ja" data-size="large">
      Twitterでシェア
    </a>
  </div>
  <% end %>

 <a class="twitter-timeline"  href="https://twitter.com/hashtag/%E3%81%97%E3%81%9F%E3%81%A4%E3%82%82%E3%82%8A%E8%B2%AF%E9%87%91" data-widget-id="785352546680352768">#したつもり貯金 のツイート</a>

 <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<script>
  window.twttr = (function (d,s,id) {
  var t, js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return; js=d.createElement(s); js.id=id;
  js.src="//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs);
  return window.twttr || (t = { _e: [], ready: function(f){ t._e.push(f) } });
  }(document, "script", "twitter-wjs"))
 
  // twitter callback
  twttr.ready(function (twttr) {
    twttr.events.bind('tweet', function(event) {
      
    });
  });
</script>
  
  </body>
</html>
