  
  <h1>したつもり貯金</h1>
  <div>
  <% if user_signed_in? %>
  <p>今回：<%= @total_before %>円</p>
    <% if current_user.user_goals.exists? %>
      <% if current_user.user_goals.exists?(finish: false)  %>
        <% @current_goal = current_user.user_goals.find_by(finish: false)  %>
        <p>目標金額：<%= @current_goal.goalMoney %>円</p>
        <p>目標まであと：<%= @current_goal.goalMoney - @current_goal.total %>円</p>
      <% else %>
        <p>目標達成！！</p>
        <a href="/setting" class="red">おめでとうございます！新しい目標を設定してみましょう</a>
      <% end %>
    <% else %>
        <a href="/setting" class="red">目標を設定してみましょう</a>
    <% end %>
    <p>いままでの合計貯金額：<%= @total_after %>円</p>
  <% else %>
  <p>今回：<%= @total_before %>円</p>
  <p>ログインして合計貯金額を記録しましょう</p>
  <% end %>

  <% if @total_before != 0 %>
  <%# 貯金額が0の場合はツイートボタンは非表示にする %>
  <div class="twitter">
    <a href="http://twitter.com/share?url=<%= @tweet_url %>&amp;text=<%= @tweet_text %><%= @tweet_hashtags %>"
   　  class="twitter-share-button" data-lang="ja" data-size="large">
      Twitterでシェア
    </a>
  </div>
  <% end %>
  </div>

 <a class="twitter-timeline"  href="https://twitter.com/hashtag/%E3%81%97%E3%81%9F%E3%81%A4%E3%82%82%E3%82%8A%E8%B2%AF%E9%87%91" data-widget-id="785352546680352768">#したつもり貯金 のツイート</a>
  
