<h1>誘惑に負けるときもあるよね</h1>
  <p><%= @current_endurance %>ために使っちゃった金額:<%=@waste_money %> 円</p>
  <p>言い訳: <%= @excuse %></p>   
　<p>言い訳をつぶやいたら慰めてもらえるかも？</p>		
  <p>ツイートする
  <a href="cdhttps://twitter.com/share" class="twitter-share-button" data-text="<%=@waste_money %>円を<%=@current_endurance %>ために使いました。言い訳？『<%= @excuse %>』です！ #したつもり貯金 #1回休み #aiit_enpit" data-url="https://goo.gl/D6RWc0"  data-size="large">Tweet</a></p>

<%= form_tag('/show', method: :get)do %>
<input type ="submit" tabIndex="0" value ="言い訳一覧をみる" class="large-button">
　           
<% end %>

