<h1>誘惑に負けるときもあるよね</h1>
  <p><%= @current_endurance %>ために使っちゃった金額:<%=@waste_money %> 円</p>
  <p>言い訳: <%= @excuse %></p>   
　<p>言い訳をつぶやいたら慰めてもらえるかも？</p>		
  <p>ツイートする
  <a href="cdhttps://twitter.com/share" class="twitter-share-button" data-text="<%=@waste_money %>を<%=@current_endurance %>ために使いました。言い訳？『<%= @excuse %>　』です！ #したつもり貯金 #やるで #aiit_enpit" data-url="https://goo.gl/D6RWc0"  data-size="large">Tweet</a></p>
 <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
　           
 
