<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>したつもり貯金</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>

<header>
  <nav class="navbar navbar-default">
  <h2 class="logo"><a href="/"><img src="<%= asset_path "money_chokinbako.png" %>" width="80" height="80" alt="したつもり貯金" class="logo-img"></a></h2>
    <ul class="nav navbar-nav">
  <% if user_signed_in? %>
      <li><a href="/setting">設定</a></li>
      <li><%= link_to "ログアウト", destroy_user_session_path, :method => :delete %></li>
  <% else %>
      <li><a href="/">したつもり貯金</a></li>
      <li><%= link_to "Twitterアカウントでログイン", user_twitter_omniauth_authorize_path %></li>
  <% end %>
  <% if user_signed_in? && current_user.name? %>
    <span class="login"><%= current_user.name %>として<br>ログイン中です</span>
  <% elsif user_signed_in? %>
    <span class="login">ログイン中です</span>
  <% end %>
  </ul>
  </nav>
</header>
 <center><a href="#depo"><h2>したつもり貯金とは？</h2></a></center>
<% unless user_signed_in? %>
<center><h1><%= link_to "Twitterアカウントでログイン", user_twitter_omniauth_authorize_path %></h1></center>
<% end %>
<div class="container">
  <div class="jumbotron">
    <%= yield %>
  </div>
</div>
<center><a href="/"><h2>トップに戻る</h2></a></center> 
<% unless user_signed_in? %>
<center><h1><%= link_to "Twitterアカウントでログイン", user_twitter_omniauth_authorize_path %></h1></center>
<% end %>
<%= render 'layouts/footer' %>
</body>
</html>
